AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT=https://s3.example.com
S3_REGION=us-east-1
RAW_DATA_PATH=s3a://raw-data
REPORTS_PATH=s3a://data-project/reports
GREENPLUM_SCHEMA=data_project
PXF_BUCKET=data-project
PXF_PREFIX=reports

